ENV=development
DEBUG=false

HOST=127.0.0.1
PORT=8000

DATA_DIR=./data
LOG_DIR=./logs

LLM_MODEL_PATH=./models/mistral.gguf

REDIS_HOST=localhost
REDIS_PORT=6379

MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=rag_memory

QDRANT_HOST=localhost
QDRANT_PORT=6333

TAVILY_API_KEY=************************************8