# HuggingFace cache directory
HF_HOME=models/

# Embedding model
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# LLM model
LLM_MODEL=mistralai/Mistral-7B-Instruct-v0.2

# Vector database path
VECTOR_DB_PATH=data/vector_store

# Application environment
ENVIRONMENT=development