torch
transformers
sentence-transformers
qdrant-client
langchain
langchain-community
python-dotenv
pydantic
fastapi
uvicorn

# Image / OCR
pillow
opencv-python
pytesseract

# Audio / Speech
faster-whisper

# Video
moviepy

# document ingestion
pdfplumber
python-docx
pandas
openpyxl

redis
pymongo